In [29]:
from nba_api.stats.endpoints import playercareerstats
ad = playercareerstats.PlayerCareerStats(player_id='203076')
ad.get_data_frames()[0]

   PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID  ...  BLK  TOV   PF   PTS
0     203076   2012-13        00  1610612740  ...  112   89  158   867
1     203076   2013-14        00  1610612740  ...  189  109  200  1394
2     203076   2014-15        00  1610612740  ...  200   95  141  1656
3     203076   2015-16        00  1610612740  ...  125  121  148  1481
4     203076   2016-17        00  1610612740  ...  167  181  168  2099
5     203076   2017-18        00  1610612740  ...  193  162  159  2110
6     203076   2018-19        00  1610612740  ...  135  112  132  1452
7     203076   2019-20        00  1610612747  ...  143  154  156  1618
8     203076   2020-21        00  1610612747  ...   59   74   60   786

[9 rows x 27 columns]

In [31]:
from nba_api.stats.static import teams
nba_teams = teams.get_teams()
print(f'Number of teams {len(nba_teams)}')

Number of teams 30

In [33]:
from nba_api.stats.static import players
nba_players = players.get_players()
print(f'Number pf players {len(nba_players)}')

Number pf players 4501

In [34]:
lakers = [team for team in nba_teams if team['full_name'] == 'Los Angeles Lakers']
lakers

[{'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948}]

In [46]:
def get_by_nickname(nickname):
    return [team for team in nba_teams if team['nickname'] == nickname]

In [48]:
raptors = get_by_nickname('Raptors')
raptors

[{'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995}]

In [49]:
def get_player_by_name(full_name):
    return [player for player in nba_players if player['full_name'] == full_name]

In [52]:
lebron = get_player_by_name('LeBron James')
lebron

[{'id': 2544,
  'full_name': 'LeBron James',
  'first_name': 'LeBron',
  'last_name': 'James',
  'is_active': True}]